<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="OTHER" />	<!-- mybatis로 넘어오는 parameter가 null인 경우, jdbcType을 VARCHAR 타입으로 자동 Setting -->
	</settings>
	<typeAliases>
		<typeAlias alias="cmmnMap" type="com.cgmoffice.core.utils.CmmnMap"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="com.cgmoffice.core.datasource_utils.mybatis.paginator.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.cgmoffice.core.datasource_utils.mybatis.paginator.dialect.DB2Dialect"/>
		</plugin>
	</plugins>
</configuration>